/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
  text-align: center;
}

#footer p {
  color: #888;
  font-size: 14px;
}

#footer a {
  color: #1f386e;
}

#footer a:hover {
  color: #e52f3c;
}
