<mat-card fxLayout="column" fxLayoutAlign="space-between">
  <mat-card-header fxLayoutAlign="center" fxFlex="10">
    <mat-card-title>Warning!</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex>
    Unfortunately you don't have any accounts associated with your profile.
    <br>
    Do you want to create it now?
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center">
    <button  mat-button color="warn" (click)="createNewAccount()">YES!</button>
  </mat-card-actions>
</mat-card>
