<div class="settings-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Settings</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="First Name" formControlName="firstname" required>
          <mat-error>
            Please provide a first name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Last Name" formControlName="lastname" required>
          <mat-error>
            Please provide a last name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

